WIFI_CONTROLLER=wifi_controller_url
ADM_NAME=adm_name
ADM_PWD=adm_pwd

DEVICES_PAGE=devices_page
WIDE_MANAGEMENT_PAGE=wide_management_page
AP_TEMPLATE_PAGE=ap_template_page

TABLE_SELECTOR=table_selector

TEMPLATE_API_HOST=TEMPLATE_API_HOST
TEMPLATE_API_SVC_PORT=TEMPLATE_API_SVC_PORT